@import '../../../styles/_variables.scss';

/* Style the selected tab */
.nav-tabs .nav-link.active {
    background-color: #C9C9FF;
    color: #2A2A84; /* Bootstrap's primary color */
    border-radius: 50px; /* Make the tabs shape rounded-pill */
    border: none; /* Remove the border */
}

/* Style the non-selected tabs */
.nav-tabs .nav-link {
    color: #202031;
}

/* Remove the long line which is below the tab headings */
.nav-tabs {
    border-bottom: none;
}