// _variables.scss

$primary-color: #2A2A84;
$secondary-color: #789abc;
$font-stack: 'Roboto', sans-serif;
$base-margin: 2em;

$light: #C9C9FF;
$dark: #202031;
$card-bg: #E0E0FF;
$medium-dark: #8787ff;

$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "light": $light,
    "dark": $dark,
    "card": $card-bg,
    "medium-dark": $medium-dark
);
