// _variables.scss

$primary: #2A2A84;
$secondary: #789abc;
$font-stack: 'Roboto', sans-serif;
$base-margin: 2em;

$light: #C9C9FF;
$dark: #202031;
$card-bg: #E0E0FF;
$medium-dark: #8787ff;
$dark-purple: #3f3f87;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
    "dark": $dark,
    "card": $card-bg,
    "medium-dark": $medium-dark,
    "dark-purple": $dark-purple
);
