@import 'variables';
@import 'DataDisplay';
@import 'mixins';
@import 'utilities';
@import '~bootstrap/scss/bootstrap';

body {
    font-family: $font-stack;
    background-color: #C9C9FF;
    color: #333333;
}

.slab-font {
    font-family: 'Roboto Slab', serif;
}

.text-light {
    color: #C9C9FF !important;
}

.nav-link {
    transition: transform 0.5s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #700affca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #472b8a;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


// animations
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.image-scale {
    animation: scale 5s infinite ease-in-out;
}

ul {
    list-style-type:square;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.image-full-rotate {
    animation: rotate 5s linear infinite;
}

.icon-tilt {
    transition: transform 0.5s ease-in-out;
}

.icon-tilt:hover {
    transform: rotate(20deg);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gradient-text {
    background: linear-gradient(to right, #C9C9FF, #6b6bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}
.grid-item {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #c9c9ff;
}

.dark-purple-arrow{
    color: $dark-purple
}

.general-link{
    text-decoration: none;
}

.general-link h5 {
    transition: transform 1s ease-in-out;
}

.general-link:hover h5 {
    transform: scale(1.05);
}