/**
 * utilities.scss
 * 
 * This is a SCSS partial file that defines utility classes for border radius, box shadow, border, animations, and transitions.
 * 
 * The `.rounded-sm`, `.rounded-md`, and `.rounded-lg` classes set the border radius to .25rem at different screen widths.
 * 
 * The `.shadow-md-screen` and `.shadow-lg-screen` classes set the box shadow at different screen widths.
 * 
 * The `.no-border` class removes the border and box shadow.
 * 
 * The `@keyframes quick-oscillation` rule defines a quick oscillation animation.
 * 
 * The `.oscillate` class applies the quick oscillation animation.
 * 
 * The `.link-shift` class sets a transition for the transform property and shifts the element to the right when it is hovered over.
 * 
 * The `@keyframes moveRightReturn` rule defines a move right and return animation.
 * 
 * The `.point-right-button` class applies the move right and return animation.
 * 
 * @module styles/utilities
 */

@media (min-width: 576px) {
    .rounded-sm {
        border-radius: .25rem;
    }
    .shadow-md-screen {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    }
}

@media (min-width: 768px) {
    .rounded-md {
        border-radius: .25rem;
    }
    .shadow-lg-screen {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    }
}

@media (min-width: 992px) {
    .rounded-lg {
        border-radius: .25rem;
    }
    .shadow-lg-screen {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    }
}

.no-border,
.no-border:focus,
.no-border:active {
    border: none !important; // Remove border
    box-shadow: none !important; // Remove shadow
}

@keyframes quick-oscillation {
    0%, 85%{
        transform: rotate(0deg);
    }
    20%, 60% {
        transform: rotate(5deg);
    }
    40%, 80% {
        transform: rotate(-5deg);
    }
}

.oscillate {
    animation: quick-oscillation 0.5s ease-in-out infinite;
}

.link-shift {
    transition: transform 0.5s ease-in-out;
    &:hover {
        transform: translateX(10px);
    }
}

@keyframes moveRightReturn {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.point-right-button {
    animation: moveRightReturn 2s infinite;
}